[submodule "linenoise"]
	path = submodules/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "libelfin"]
	path = submodules/libelfin
	url = https://github.com/TartanLlama/libelfin.git
